<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.winter.mapper.AccountMapper" >
    <update id="update">
        UPDATE account set money=#{money} WHERE id=#{id}
    </update>
    <insert id="insertAccount" parameterType="com.winter.model.Account">
        insert into account
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="money != null" >
                money,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="money != null" >
                #{money,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>